* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --light-grey: hsl(0, 0%, 86%);
  --off-white: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%)
}

body {
  background-color: var(--off-white);
  font-family: 'Poppins', sans-serif;
}

main {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  border-radius: 10px 10px 50px 10px;
  padding: 2.2em;
}

/* FORM */
.form-wrapper {
  position: relative;
}

.form {
  border-bottom: 1px solid var(--light-grey);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 0 5.5em 2.2em 0;
  margin-bottom: 2.5em;
}

.btn {
  background-image: url("/public/assets/images/icon-arrow.svg");
  background-color: var(--purple);
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 70%;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input label {
  color: hsl(0, 1%, 44%);
  letter-spacing: 0.5px;
  font-size: 0.65rem;
  padding-bottom: 7.5px;
  text-transform: uppercase;
}

input[type="number"] {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 5px;
  border: var(--light-grey) 1px solid;
  width: 110px;
  padding: 15px 10px;
}

/* AGE COMPONENT */
.purple-text {
  color: var(--purple);
}

.result {
  font-weight: 800;
  font-size: 3.2rem;
  font-style: italic;
  line-height: 1.2;
}

@media screen  and (max-width: 546px) {
  .btn {
    right: 40%;
    left: 40%;
  }

  .container {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  input[type="number"] {
    padding: 10px 7px;
    width: 70px;
    font-size: 1rem;
  }

  .form {
    padding-bottom: 2.5em;
    padding-right: 2.5em;
  }
  
  .result {
    font-size: 2.5rem;
  }
  
}